<ng-container *ngFor="let child of children">

  <ng-container *ngIf="child.type === 'text'">
    {{ child.value }}
  </ng-container>

  <button
    [ngClass]="child.id"
    *ngIf="child.type === 'button'"
  >
    <ng-container *ngIf="child.value !== undefined && child.value !== null">
      {{ child.value }}
    </ng-container>

    <app-element
      *ngIf="child.children?.length"
      [children]="child.children"
    ></app-element>
  </button>

  <div
    [ngClass]="child.id"
    class="container"
    *ngIf="child.type === 'container'"
  >
    <ng-container *ngIf="child.value !== undefined && child.value !== null">
      {{ child.value }}
    </ng-container>

    <app-element
      *ngIf="child.children?.length"
      [children]="child.children"
    ></app-element>
  </div>

  <p
    [ngClass]="child.id"
    *ngIf="child.type === 'p'"
  >
    <ng-container *ngIf="child.value !== undefined && child.value !== null">
      {{ child.value }}
    </ng-container>

    <app-element
      *ngIf="child.children?.length"
      [children]="child.children"
    ></app-element>
  </p>

  <h1
    [ngClass]="child.id"
    *ngIf="child.type === 'h1'"
  >
    <ng-container *ngIf="child.value !== undefined && child.value !== null">
      {{ child.value }}
    </ng-container>

    <app-element
      *ngIf="child.children?.length"
      [children]="child.children"
    ></app-element>
  </h1>
</ng-container>